/*    An exercise using react to build a phonetic alphabet converter

      Author: Richard Myatt
      Date: 28 June 2018
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.title {
  display: flex;
  justify-content: center;
  color: lightblue;
  background-color: #333;
  padding: 5px;
}

.titleContainer {
  width: 450px;
  text-align: center;
}

.drum-pad {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #999;
  background-color: lightyellow;
}
