@import 'mixins';

#display {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  font-weight: bold;
  color: $output-text;
  background-color: $output-bg;
  grid-column: 1 / -1;

  @include mq(1400px) {
    font-size: 1.6vw;
  }

  @include mq(800px) {
    font-size: 4vw;
  }
}
