@import 'variables';

.title {
  display: flex;
  justify-content: center;
  color: $title-text;
  background-color: $title-bg;
  padding: 5px;
}

.titleContainer {
  width: 450px;
  text-align: center;
}
