@import 'variables';

.title {
  display: flex;
  justify-content: center;
  color: $title-text;
  background-color: $title-bg;
  padding: 5px;

  h1, h5 {
    margin: 0;
    padding: 0;
  }

  .titleContainer {
    width: 450px;
    text-align: center;
  }
}
