@import 'mixins';

// colors
$document-bg: #eef7f7;      // light grey
$title-bg: #333;         // dark grey
$title-text: lightblue;
$output-text: lightblue;
$output-bg: rgba(51, 51, 51, 0.8);        // dark grey
$drum-machine-border: #333;
$drum-pad-band: #999;    // mid grey
$drum-pad: lightyellow;
$drum-pad-container: #fff;

// drum pad
$drum-pad-container-width: 6vw;
$drum-pad-container-height: $drum-pad-container-width;
$drum-pad-width: 0.9 * $drum-pad-container-width;
$drum-pad-height: $drum-pad-width;

// drum machine
$drum-machine-width: 3 * ($drum-pad-container-width);
$drum-machine-height: 3.5 * $drum-machine-width;
